@import '@reach/dialog/styles.css';

@font-face {
  font-family: 'Poppins';
  font-weight: 100 400 700;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('../fonts/Poppins-Regular.ttf') format('woff2');
}

@tailwind base;

/* Write your own custom base styles here */
#__next {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */
@keyframes slide-up-from-bottom {
  from {
    transform: translate3d(0rem, 12.5rem, 0rem);
    opacity: 0;
  }

  to {
    transform: translate3d(0rem, 0rem, 0rem);
    opacity: 1;
  }
}

@keyframes opacity-only {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.icon-modal-animation {
  animation: opacity-only 200ms linear;
}

@media (min-width: 768px) {
  .icon-modal-animation {
    animation: slide-up-from-bottom 200ms ease-in-out;
  }
}

@media (prefers-reduced-motion) {
  .icon-modal-animation {
    animation: none;
  }
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
